
#a1{
    text-decoration: none;
    color: rgb(11, 46, 58);
}
#p1{
    background-color: blue;
    color: blanchedalmond;
}
#p2{
    background-color: antiquewhite;
    color: rgb(239, 34, 34);

}
#p3{
    background-color: black;
    color: blanchedalmond;

}
h2{
    color: brown;
    text-align: center;
    font-weight: 200;
    background-color: rgb(230, 218, 241);
    
}
.list1{
    background-color: antiquewhite;
}
.grp1{
    border: 2px solid coral;
    margin: 10% 20% 15% 20%;
    padding: 10px 20px 10px 20px;
}